@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*  ===========   CTA ============  */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*  ===========   HEADER SOCIALS  ============  */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/*  ===========   ME  ============  */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 17rem;
  height: 25rem;
  position: absolute;
  left: calc(50% - 8.5rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/*  ===========   SCROLL DOWN  ============  */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
.drop-main {
  display: flex;
  font-size: 25px !important;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 1.5rem;
  justify-content: center;
}
.nI {
  opacity: 0;
  animation: drop 0.4s linear forwards;
}
.nK {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
}
.nB {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
}
.nO1 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
}
.nL {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
}
.nJ {
  opacity: 0;
  animation: drop 0.4s linear forwards 1s;
}
.nO2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
}
.nN {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.4s;
}
.probel {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.6s;
}
.sA1 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.8s;
}
.sB {
  opacity: 0;
  animation: drop 0.4s linear forwards 2s;
}
.sD {
  opacity: 0;
  animation: drop 0.4s linear forwards 2.2s;
}
.sU1 {
  opacity: 0;
  animation: drop 0.4s linear forwards 2.4s;
}
.sR {
  opacity: 0;
  animation: drop 0.4s linear forwards 2.6s;
}
.sA2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 2.8s;
}
.sS {
  opacity: 0;
  animation: drop 0.4s linear forwards 3s;
}
.sU2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 3.2s;
}
.sL {
  opacity: 0;
  animation: drop 0.4s linear forwards 3.4s;
}
.sO {
  opacity: 0;
  animation: drop 0.4s linear forwards 3.6s;
}
.sV {
  opacity: 0;
  animation: drop 0.4s linear forwards 3.8s;
}
@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.four .type {
  width: auto;
  margin: auto;
}
.four h5 {
  font-family: "Poppins", sans-serif;
  font-size: 9.96px;
  color: var(--color-light);
  width: 20ch;
  border-right: 2px solid var(--color-light);
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.bounce {
  font-size: 1rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce span {
  display: inline-flex;
  color: #c7f4ff;
  font-family: "Play", sans-serif;
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
}
.ten span:nth-of-type(7) {
  animation-delay: 0.7s;
}
.ten span:nth-of-type(8) {
  animation-delay: 0.8s;
}
.ten span:nth-of-type(9) {
  animation-delay: 0.9s;
}

/*================= MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
